<div class="container">
  <h1 class="title">Select your seats</h1>

  <div class="showtime title">
    <p>Show Timings: {{ movie.showtimes[showtimeId].toLocaleString() }}</p>
  </div>

  <div class="seat-layout">
    <div *ngFor="let row of movie.rows; let rowIndex = index" class="seat-row">
      <div
        *ngFor="let seat of row.seats; let seatIndex = index"
        class="seat"
        [class.booked]="seat.booked"
        [class.selected]="seat.selected"
        (click)="toggleSeatSelection(rowIndex, seatIndex)"
      >
        {{ seat.label }}
      </div>
    </div>
  </div>

  <div *ngIf="selectedSeats.length > 0" class="selected-seats">
    <h2>Selected Seats:</h2>
    <ul>
      <li *ngFor="let seat of selectedSeats">{{ seat.label }}</li>
    </ul>
  </div>

  <button
    class="btn"
    [disabled]="selectedSeats.length === 0"
    (click)="onBookSeats()"
  >
    Book seats
  </button>
</div>
