<header class="navbar">
  <nav class="navbar-layout">
    <ul class="navbar-list">
      <li class="navbar-list-item" *ngIf="user && user.role === 'User'">
        <a
          routerLink="/movies"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Movies</a
        >
      </li>
      <li class="navbar-list-item" *ngIf="user && user.role === 'Admin'">
        <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="navbar-list-item" *ngIf="user && user.role === 'Admin'">
        <a routerLink="/admin/movie/add" routerLinkActive="active">Add Movie</a>
      </li>
    </ul>
    <ul class="navbar-list">
      <li class="navbar-list-item" *ngIf="!user">
        <a routerLink="/signin" routerLinkActive="active">Login</a>
      </li>
      <li class="navbar-list-item" *ngIf="user" (click)="logout()">
        <a>Logout</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
